/* .App{

    
    border-style: groove;
 
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    

}

#clrr{
    color: red
} */

.App{
    text-align: center;
}
/* .xyz{
    border-style: groove;
    text-align: center;
} */
